In [ ]:
# Source: data.census.gov

In [3]:
import pandas as pd
import requests
import json

In [4]:
income_csv_path = "CityIncome/NYC.csv"
nyc_df = pd.read_csv(income_csv_path)
nyc_df

,GEO_ID,NAME,S1901_C01_001E,S1901_C01_001M,S1901_C02_001E,S1901_C02_001M,S1901_C03_001E,S1901_C03_001M,S1901_C04_001E,S1901_C04_001M,...,S1901_C04_015E,S1901_C04_015M,S1901_C01_016E,S1901_C01_016M,S1901_C02_016E,S1901_C02_016M,S1901_C03_016E,S1901_C03_016M,S1901_C04_016E,S1901_C04_016M
0,id,Geographic Area Name,Estimate!!Households!!Total,Margin of Error!!Households MOE!!Total,Estimate!!Families!!Total,Margin of Error!!Families MOE!!Total,Estimate!!Married-couple families!!Total,Margin of Error!!Married-couple families MOE!!...,Estimate!!Nonfamily households!!Total,Margin of Error!!Nonfamily households MOE!!Total,...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households MOE!!PER...,Estimate!!Households!!PERCENT ALLOCATED!!Nonfa...,Margin of Error!!Households MOE!!PERCENT ALLOC...,Estimate!!Families!!PERCENT ALLOCATED!!Nonfami...,Margin of Error!!Families MOE!!PERCENT ALLOCAT...,Estimate!!Married-couple families!!PERCENT ALL...,Margin of Error!!Married-couple families MOE!!...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households MOE!!PER...
1,0500000US36005,"Bronx County, New York",499728,1095,327543,2451,138852,2447,172185,2256,...,(X),(X),(X),(X),(X),(X),(X),(X),33.1,(X)
2,0500000US36047,"Kings County, New York",950856,2682,585424,3207,359883,3160,365432,2892,...,(X),(X),(X),(X),(X),(X),(X),(X),39.8,(X)
3,0500000US36061,"New York County, New York",758133,4208,322848,4392,214900,3798,435285,4165,...,(X),(X),(X),(X),(X),(X),(X),(X),28.2,(X)
4,0500000US36081,"Queens County, New York",779234,1993,529069,2954,355218,2766,250165,2998,...,(X),(X),(X),(X),(X),(X),(X),(X),40.3,(X)
5,0500000US36085,"Richmond County, New York",166152,810,123094,1205,91053,1318,43058,993,...,(X),(X),(X),(X),(X),(X),(X),(X),43.3,(X)

In [8]:
nyc_df.columns

Index(['GEO_ID', 'NAME', 'S1901_C01_001E', 'S1901_C01_001M', 'S1901_C02_001E',
       'S1901_C02_001M', 'S1901_C03_001E', 'S1901_C03_001M', 'S1901_C04_001E',
       'S1901_C04_001M',
       ...
       'S1901_C04_015E', 'S1901_C04_015M', 'S1901_C01_016E', 'S1901_C01_016M',
       'S1901_C02_016E', 'S1901_C02_016M', 'S1901_C03_016E', 'S1901_C03_016M',
       'S1901_C04_016E', 'S1901_C04_016M'],
      dtype='object', length=130)

In [10]:
CleanNYC_df = nyc_df.loc[:, ["NAME", "S1901_C01_001E"]]
CleanNYC_df

                        NAME               S1901_C01_001E
0       Geographic Area Name  Estimate!!Households!!Total
1     Bronx County, New York                       499728
2     Kings County, New York                       950856
3  New York County, New York                       758133
4    Queens County, New York                       779234
5  Richmond County, New York                       166152

In [12]:
income_csv_path = "CityIncome/LA.csv"
la_df = pd.read_csv(income_csv_path)
la_df

,GEO_ID,NAME,S1901_C01_001E,S1901_C01_001M,S1901_C02_001E,S1901_C02_001M,S1901_C03_001E,S1901_C03_001M,S1901_C04_001E,S1901_C04_001M,...,S1901_C04_015E,S1901_C04_015M,S1901_C01_016E,S1901_C01_016M,S1901_C02_016E,S1901_C02_016M,S1901_C03_016E,S1901_C03_016M,S1901_C04_016E,S1901_C04_016M
0,id,Geographic Area Name,Estimate!!Households!!Total,Margin of Error!!Households MOE!!Total,Estimate!!Families!!Total,Margin of Error!!Families MOE!!Total,Estimate!!Married-couple families!!Total,Margin of Error!!Married-couple families MOE!!...,Estimate!!Nonfamily households!!Total,Margin of Error!!Nonfamily households MOE!!Total,...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households MOE!!PER...,Estimate!!Households!!PERCENT ALLOCATED!!Nonfa...,Margin of Error!!Households MOE!!PERCENT ALLOC...,Estimate!!Families!!PERCENT ALLOCATED!!Nonfami...,Margin of Error!!Families MOE!!PERCENT ALLOCAT...,Estimate!!Married-couple families!!PERCENT ALL...,Margin of Error!!Married-couple families MOE!!...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households MOE!!PER...
1,0500000US06037,"Los Angeles County, California",3306109,5533,2207265,7274,1485293,8094,1098844,5069,...,(X),(X),(X),(X),(X),(X),(X),(X),31.9,(X)
2,0500000US06059,"Orange County, California",1032373,2799,741721,3792,564685,3997,290652,3205,...,(X),(X),(X),(X),(X),(X),(X),(X),33.5,(X)
3,0500000US06065,"Riverside County, California",718349,2722,524557,3047,388127,3506,193792,2332,...,(X),(X),(X),(X),(X),(X),(X),(X),35.3,(X)
4,0500000US06071,"San Bernardino County, California",630633,2099,481066,2620,327131,3041,149567,2154,...,(X),(X),(X),(X),(X),(X),(X),(X),31.5,(X)
5,0500000US06111,"Ventura County, California",271226,1122,197226,1611,150646,1639,74000,1344,...,(X),(X),(X),(X),(X),(X),(X),(X),32.5,(X)

In [13]:
CleanLA_df = la_df.loc[:, ["NAME", "S1901_C01_001E"]]
CleanLA_df

                                NAME               S1901_C01_001E
0               Geographic Area Name  Estimate!!Households!!Total
1     Los Angeles County, California                      3306109
2          Orange County, California                      1032373
3       Riverside County, California                       718349
4  San Bernardino County, California                       630633
5         Ventura County, California                       271226

In [14]:
income_csv_path = "CityIncome/Chicago.csv"
chicago_df = pd.read_csv(income_csv_path)
chicago_df

,GEO_ID,NAME,S1901_C01_001E,S1901_C01_001M,S1901_C02_001E,S1901_C02_001M,S1901_C03_001E,S1901_C03_001M,S1901_C04_001E,S1901_C04_001M,...,S1901_C04_015E,S1901_C04_015M,S1901_C01_016E,S1901_C01_016M,S1901_C02_016E,S1901_C02_016M,S1901_C03_016E,S1901_C03_016M,S1901_C04_016E,S1901_C04_016M
0,id,Geographic Area Name,Estimate!!Households!!Total,Margin of Error!!Households MOE!!Total,Estimate!!Families!!Total,Margin of Error!!Families MOE!!Total,Estimate!!Married-couple families!!Total,Margin of Error!!Married-couple families MOE!!...,Estimate!!Nonfamily households!!Total,Margin of Error!!Nonfamily households MOE!!Total,...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households MOE!!PER...,Estimate!!Households!!PERCENT ALLOCATED!!Nonfa...,Margin of Error!!Households MOE!!PERCENT ALLOC...,Estimate!!Families!!PERCENT ALLOCATED!!Nonfami...,Margin of Error!!Families MOE!!PERCENT ALLOCAT...,Estimate!!Married-couple families!!PERCENT ALL...,Margin of Error!!Married-couple families MOE!!...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households MOE!!PER...
1,0500000US17031,"Cook County, Illinois",1963070,4298,1183806,5003,803326,4922,779264,4884,...,(X),(X),(X),(X),(X),(X),(X),(X),30.3,(X)
2,0500000US17043,"DuPage County, Illinois",341823,1247,239066,1910,196348,1780,102757,1831,...,(X),(X),(X),(X),(X),(X),(X),(X),32.8,(X)

In [15]:
CleanChicago_df = chicago_df.loc[:, ["NAME", "S1901_C01_001E"]]
CleanChicago_df

                      NAME               S1901_C01_001E
0     Geographic Area Name  Estimate!!Households!!Total
1    Cook County, Illinois                      1963070
2  DuPage County, Illinois                       341823

In [16]:
income_csv_path = "CityIncome/Houston.csv"
houston_df = pd.read_csv(income_csv_path)
houston_df

,GEO_ID,NAME,S1901_C01_001E,S1901_C01_001M,S1901_C02_001E,S1901_C02_001M,S1901_C03_001E,S1901_C03_001M,S1901_C04_001E,S1901_C04_001M,...,S1901_C04_015E,S1901_C04_015M,S1901_C01_016E,S1901_C01_016M,S1901_C02_016E,S1901_C02_016M,S1901_C03_016E,S1901_C03_016M,S1901_C04_016E,S1901_C04_016M
0,id,Geographic Area Name,Estimate!!Households!!Total,Margin of Error!!Households MOE!!Total,Estimate!!Families!!Total,Margin of Error!!Families MOE!!Total,Estimate!!Married-couple families!!Total,Margin of Error!!Married-couple families MOE!!...,Estimate!!Nonfamily households!!Total,Margin of Error!!Nonfamily households MOE!!Total,...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households MOE!!PER...,Estimate!!Households!!PERCENT ALLOCATED!!Nonfa...,Margin of Error!!Households MOE!!PERCENT ALLOC...,Estimate!!Families!!PERCENT ALLOCATED!!Nonfami...,Margin of Error!!Families MOE!!PERCENT ALLOCAT...,Estimate!!Married-couple families!!PERCENT ALL...,Margin of Error!!Married-couple families MOE!!...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households MOE!!PER...
1,0500000US48039,"Brazoria County, Texas",118762,1001,88295,1554,69825,1597,30467,1363,...,(X),(X),(X),(X),(X),(X),(X),(X),23.7,(X)
2,0500000US48071,"Chambers County, Texas",13529,344,10459,453,8473,505,3070,412,...,(X),(X),(X),(X),(X),(X),(X),(X),33.8,(X)
3,0500000US48157,"Fort Bend County, Texas",230381,1336,189308,1773,151943,2306,41073,1728,...,(X),(X),(X),(X),(X),(X),(X),(X),24.8,(X)
4,0500000US48167,"Galveston County, Texas",119181,1214,82900,1349,62228,1467,36281,1078,...,(X),(X),(X),(X),(X),(X),(X),(X),31.5,(X)
5,0500000US48201,"Harris County, Texas",1583486,4133,1081602,5527,743735,5627,501884,4381,...,(X),(X),(X),(X),(X),(X),(X),(X),29.5,(X)
6,0500000US48291,"Liberty County, Texas",26203,597,18670,764,14510,752,7533,580,...,(X),(X),(X),(X),(X),(X),(X),(X),28.2,(X)
7,0500000US48339,"Montgomery County, Texas",192823,1414,143989,1859,116064,1863,48834,1873,...,(X),(X),(X),(X),(X),(X),(X),(X),33.1,(X)
8,0500000US48473,"Waller County, Texas",14807,422,10817,470,8219,480,3990,422,...,(X),(X),(X),(X),(X),(X),(X),(X),40.3,(X)

In [18]:
CleanHouston_df = houston_df.loc[:, ["NAME", "S1901_C01_001E"]]
CleanHouston_df

                       NAME               S1901_C01_001E
0      Geographic Area Name  Estimate!!Households!!Total
1    Brazoria County, Texas                       118762
2    Chambers County, Texas                        13529
3   Fort Bend County, Texas                       230381
4   Galveston County, Texas                       119181
5      Harris County, Texas                      1583486
6     Liberty County, Texas                        26203
7  Montgomery County, Texas                       192823
8      Waller County, Texas                        14807

In [19]:
income_csv_path = "CityIncome/Phoenix.csv"
phoenix_df = pd.read_csv(income_csv_path)
phoenix_df

,GEO_ID,NAME,S1901_C01_001E,S1901_C01_001M,S1901_C02_001E,S1901_C02_001M,S1901_C03_001E,S1901_C03_001M,S1901_C04_001E,S1901_C04_001M,...,S1901_C04_015E,S1901_C04_015M,S1901_C01_016E,S1901_C01_016M,S1901_C02_016E,S1901_C02_016M,S1901_C03_016E,S1901_C03_016M,S1901_C04_016E,S1901_C04_016M
0,id,Geographic Area Name,Estimate!!Households!!Total,Margin of Error!!Households MOE!!Total,Estimate!!Families!!Total,Margin of Error!!Families MOE!!Total,Estimate!!Married-couple families!!Total,Margin of Error!!Married-couple families MOE!!...,Estimate!!Nonfamily households!!Total,Margin of Error!!Nonfamily households MOE!!Total,...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households MOE!!PER...,Estimate!!Households!!PERCENT ALLOCATED!!Nonfa...,Margin of Error!!Households MOE!!PERCENT ALLOC...,Estimate!!Families!!PERCENT ALLOCATED!!Nonfami...,Margin of Error!!Families MOE!!PERCENT ALLOCAT...,Estimate!!Married-couple families!!PERCENT ALL...,Margin of Error!!Married-couple families MOE!!...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households MOE!!PER...
1,0500000US04013,"Maricopa County, Arizona",1520767,4569,996345,5318,722647,5642,524422,4262,...,(X),(X),(X),(X),(X),(X),(X),(X),32.1,(X)
2,0500000US04021,"Pinal County, Arizona",137286,1532,95847,1619,73557,1501,41439,1188,...,(X),(X),(X),(X),(X),(X),(X),(X),36.1,(X)

In [20]:
CleanPhoenix_df = phoenix_df.loc[:, ["NAME", "S1901_C01_001E"]]
CleanPhoenix_df

                       NAME               S1901_C01_001E
0      Geographic Area Name  Estimate!!Households!!Total
1  Maricopa County, Arizona                      1520767
2     Pinal County, Arizona                       137286

In [21]:
income_csv_path = "CityIncome/Philadelphia.csv"
philadelphia_df = pd.read_csv(income_csv_path)
philadelphia_df

,GEO_ID,NAME,S1901_C01_001E,S1901_C01_001M,S1901_C02_001E,S1901_C02_001M,S1901_C03_001E,S1901_C03_001M,S1901_C04_001E,S1901_C04_001M,...,S1901_C04_015E,S1901_C04_015M,S1901_C01_016E,S1901_C01_016M,S1901_C02_016E,S1901_C02_016M,S1901_C03_016E,S1901_C03_016M,S1901_C04_016E,S1901_C04_016M
0,id,Geographic Area Name,Estimate!!Households!!Total,Margin of Error!!Households MOE!!Total,Estimate!!Families!!Total,Margin of Error!!Families MOE!!Total,Estimate!!Married-couple families!!Total,Margin of Error!!Married-couple families MOE!!...,Estimate!!Nonfamily households!!Total,Margin of Error!!Nonfamily households MOE!!Total,...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households MOE!!PER...,Estimate!!Households!!PERCENT ALLOCATED!!Nonfa...,Margin of Error!!Households MOE!!PERCENT ALLOC...,Estimate!!Families!!PERCENT ALLOCATED!!Nonfami...,Margin of Error!!Families MOE!!PERCENT ALLOCAT...,Estimate!!Married-couple families!!PERCENT ALL...,Margin of Error!!Married-couple families MOE!!...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households MOE!!PER...
1,0500000US42017,"Bucks County, Pennsylvania",237383,1075,168084,1526,136688,1540,69299,1393,...,(X),(X),(X),(X),(X),(X),(X),(X),34.7,(X)
2,0500000US42029,"Chester County, Pennsylvania",189592,816,134073,1091,110794,1287,55519,1035,...,(X),(X),(X),(X),(X),(X),(X),(X),30.9,(X)
3,0500000US42045,"Delaware County, Pennsylvania",206405,964,138777,1281,99078,1368,67628,1247,...,(X),(X),(X),(X),(X),(X),(X),(X),34.9,(X)
4,0500000US42091,"Montgomery County, Pennsylvania",313949,1124,216309,1534,174520,1560,97640,1615,...,(X),(X),(X),(X),(X),(X),(X),(X),29.5,(X)
5,0500000US42101,"Philadelphia County, Pennsylvania",594778,1945,321389,2823,167242,2713,273389,2714,...,(X),(X),(X),(X),(X),(X),(X),(X),37.1,(X)

In [22]:
CleanPhiladelphia_df = philadelphia_df.loc[:, ["NAME", "S1901_C01_001E"]]
CleanPhiladelphia_df

                                NAME               S1901_C01_001E
0               Geographic Area Name  Estimate!!Households!!Total
1         Bucks County, Pennsylvania                       237383
2       Chester County, Pennsylvania                       189592
3      Delaware County, Pennsylvania                       206405
4    Montgomery County, Pennsylvania                       313949
5  Philadelphia County, Pennsylvania                       594778

In [23]:
income_csv_path = "CityIncome/San_Antonio.csv"
san_antonio_df = pd.read_csv(income_csv_path)
san_antonio_df

,GEO_ID,NAME,S1901_C01_001E,S1901_C01_001M,S1901_C02_001E,S1901_C02_001M,S1901_C03_001E,S1901_C03_001M,S1901_C04_001E,S1901_C04_001M,...,S1901_C04_015E,S1901_C04_015M,S1901_C01_016E,S1901_C01_016M,S1901_C02_016E,S1901_C02_016M,S1901_C03_016E,S1901_C03_016M,S1901_C04_016E,S1901_C04_016M
0,id,Geographic Area Name,Estimate!!Households!!Total,Margin of Error!!Households MOE!!Total,Estimate!!Families!!Total,Margin of Error!!Families MOE!!Total,Estimate!!Married-couple families!!Total,Margin of Error!!Married-couple families MOE!!...,Estimate!!Nonfamily households!!Total,Margin of Error!!Nonfamily households MOE!!Total,...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households MOE!!PER...,Estimate!!Households!!PERCENT ALLOCATED!!Nonfa...,Margin of Error!!Households MOE!!PERCENT ALLOC...,Estimate!!Families!!PERCENT ALLOCATED!!Nonfami...,Margin of Error!!Families MOE!!PERCENT ALLOCAT...,Estimate!!Married-couple families!!PERCENT ALL...,Margin of Error!!Married-couple families MOE!!...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households MOE!!PER...
1,0500000US48029,"Bexar County, Texas",632574,2183,421737,2593,288699,2683,210837,2300,...,(X),(X),(X),(X),(X),(X),(X),(X),29.4,(X)
2,0500000US48091,"Comal County, Texas",48903,629,36247,772,29950,743,12656,729,...,(X),(X),(X),(X),(X),(X),(X),(X),23.5,(X)
3,0500000US48325,"Medina County, Texas",15470,409,11486,442,9037,409,3984,407,...,(X),(X),(X),(X),(X),(X),(X),(X),30.2,(X)

In [24]:
CleanSan_Antonio_df = san_antonio_df.loc[:, ["NAME", "S1901_C01_001E"]]
CleanSan_Antonio_df

                   NAME               S1901_C01_001E
0  Geographic Area Name  Estimate!!Households!!Total
1   Bexar County, Texas                       632574
2   Comal County, Texas                        48903
3  Medina County, Texas                        15470

In [25]:
income_csv_path = "CityIncome/San_Diego.csv"
san_diego_df = pd.read_csv(income_csv_path)
san_diego_df

,GEO_ID,NAME,S1901_C01_001E,S1901_C01_001M,S1901_C02_001E,S1901_C02_001M,S1901_C03_001E,S1901_C03_001M,S1901_C04_001E,S1901_C04_001M,...,S1901_C04_015E,S1901_C04_015M,S1901_C01_016E,S1901_C01_016M,S1901_C02_016E,S1901_C02_016M,S1901_C03_016E,S1901_C03_016M,S1901_C04_016E,S1901_C04_016M
0,id,Geographic Area Name,Estimate!!Households!!Total,Margin of Error!!Households MOE!!Total,Estimate!!Families!!Total,Margin of Error!!Families MOE!!Total,Estimate!!Married-couple families!!Total,Margin of Error!!Married-couple families MOE!!...,Estimate!!Nonfamily households!!Total,Margin of Error!!Nonfamily households MOE!!Total,...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households MOE!!PER...,Estimate!!Households!!PERCENT ALLOCATED!!Nonfa...,Margin of Error!!Households MOE!!PERCENT ALLOC...,Estimate!!Families!!PERCENT ALLOCATED!!Nonfami...,Margin of Error!!Families MOE!!PERCENT ALLOCAT...,Estimate!!Married-couple families!!PERCENT ALL...,Margin of Error!!Married-couple families MOE!!...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households MOE!!PER...
1,0500000US06073,"San Diego County, California",1118980,3147,753761,3992,561609,4813,365219,3308,...,(X),(X),(X),(X),(X),(X),(X),(X),31.4,(X)

In [26]:
CleanSan_Diego_df = san_diego_df.loc[:, ["NAME", "S1901_C01_001E"]]
CleanSan_Diego_df

                           NAME               S1901_C01_001E
0          Geographic Area Name  Estimate!!Households!!Total
1  San Diego County, California                      1118980

In [27]:
income_csv_path = "CityIncome/Dallas.csv"
dallas_df = pd.read_csv(income_csv_path)
dallas_df

,GEO_ID,NAME,S1901_C01_001E,S1901_C01_001M,S1901_C02_001E,S1901_C02_001M,S1901_C03_001E,S1901_C03_001M,S1901_C04_001E,S1901_C04_001M,...,S1901_C04_015E,S1901_C04_015M,S1901_C01_016E,S1901_C01_016M,S1901_C02_016E,S1901_C02_016M,S1901_C03_016E,S1901_C03_016M,S1901_C04_016E,S1901_C04_016M
0,id,Geographic Area Name,Estimate!!Households!!Total,Margin of Error!!Households MOE!!Total,Estimate!!Families!!Total,Margin of Error!!Families MOE!!Total,Estimate!!Married-couple families!!Total,Margin of Error!!Married-couple families MOE!!...,Estimate!!Nonfamily households!!Total,Margin of Error!!Nonfamily households MOE!!Total,...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households MOE!!PER...,Estimate!!Households!!PERCENT ALLOCATED!!Nonfa...,Margin of Error!!Households MOE!!PERCENT ALLOC...,Estimate!!Families!!PERCENT ALLOCATED!!Nonfami...,Margin of Error!!Families MOE!!PERCENT ALLOCAT...,Estimate!!Married-couple families!!PERCENT ALL...,Margin of Error!!Married-couple families MOE!!...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households MOE!!PER...
1,0500000US48085,"Collin County, Texas",331336,1523,245934,1958,201733,2292,85402,1719,...,(X),(X),(X),(X),(X),(X),(X),(X),28.4,(X)
2,0500000US48113,"Dallas County, Texas",917276,2581,596110,3338,397978,3701,321166,3056,...,(X),(X),(X),(X),(X),(X),(X),(X),30.2,(X)
3,0500000US48121,"Denton County, Texas",283250,1195,200447,1599,160390,1921,82803,1711,...,(X),(X),(X),(X),(X),(X),(X),(X),32.5,(X)
4,0500000US48397,"Rockwall County, Texas",31649,294,25523,456,21960,536,6126,472,...,(X),(X),(X),(X),(X),(X),(X),(X),34.4,(X)
5,0500000US48439,"Tarrant County, Texas",698995,2215,488262,2731,350111,2890,210733,2660,...,(X),(X),(X),(X),(X),(X),(X),(X),25.5,(X)

In [28]:
CleanDallas_df = dallas_df.loc[:, ["NAME", "S1901_C01_001E"]]
CleanDallas_df

                     NAME               S1901_C01_001E
0    Geographic Area Name  Estimate!!Households!!Total
1    Collin County, Texas                       331336
2    Dallas County, Texas                       917276
3    Denton County, Texas                       283250
4  Rockwall County, Texas                        31649
5   Tarrant County, Texas                       698995

In [29]:
income_csv_path = "CityIncome/San_Jose.csv"
san_jose_df = pd.read_csv(income_csv_path)
san_jose_df

,GEO_ID,NAME,S1901_C01_001E,S1901_C01_001M,S1901_C02_001E,S1901_C02_001M,S1901_C03_001E,S1901_C03_001M,S1901_C04_001E,S1901_C04_001M,...,S1901_C04_015E,S1901_C04_015M,S1901_C01_016E,S1901_C01_016M,S1901_C02_016E,S1901_C02_016M,S1901_C03_016E,S1901_C03_016M,S1901_C04_016E,S1901_C04_016M
0,id,Geographic Area Name,Estimate!!Households!!Total,Margin of Error!!Households MOE!!Total,Estimate!!Families!!Total,Margin of Error!!Families MOE!!Total,Estimate!!Married-couple families!!Total,Margin of Error!!Married-couple families MOE!!...,Estimate!!Nonfamily households!!Total,Margin of Error!!Nonfamily households MOE!!Total,...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households MOE!!PER...,Estimate!!Households!!PERCENT ALLOCATED!!Nonfa...,Margin of Error!!Households MOE!!PERCENT ALLOC...,Estimate!!Families!!PERCENT ALLOCATED!!Nonfami...,Margin of Error!!Families MOE!!PERCENT ALLOCAT...,Estimate!!Married-couple families!!PERCENT ALL...,Margin of Error!!Married-couple families MOE!!...,Estimate!!Nonfamily households!!PERCENT ALLOCA...,Margin of Error!!Nonfamily households MOE!!PER...
1,0500000US06085,"Santa Clara County, California",635525,1810,456440,2710,361880,2974,179085,2326,...,(X),(X),(X),(X),(X),(X),(X),(X),28.1,(X)

In [30]:
CleanSan_Jose_df = san_jose_df.loc[:, ["NAME", "S1901_C01_001E"]]
CleanSan_Jose_df

                             NAME               S1901_C01_001E
0            Geographic Area Name  Estimate!!Households!!Total
1  Santa Clara County, California                       635525